* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: #333031;
    z-index: -9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.preload {
    animation-duration: 0s !important;
}

.page_wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}



.section_left {
    width: 33vw;
    height: 100vh;
    position: sticky;
    padding: 30px 30px 30px 30px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.main_logo {
    width: 100%;
    height: auto;
}

.main_links {
    margin-top: 36px;
}

.main_links li {
    margin-bottom: .7em;
    position: relative;
}

.main_links li {
    padding-left: .5em;
    line-height: 1.3em;
}

.main_links li a::after {
    top: 0;
    left: 0;
    position: absolute;
    border-right: solid 0 #EE2A7B;
    content: '';
    height: 16px;
    z-index: -1;
    transition: .3s ease-in-out;
}

.main_links li a:hover::after {
    border-right: solid 150px #EE2A7B;
}

.section_main {
    width: 60vw;
    position: relative;
}

.section_main img {
    width: 100%;
    height: auto;
}

.section_right {
    height: 100vh;
    position: sticky;
    top: 0;
    width: 7vw;
}

.link_wrapper {}

.social_media_links {
    display: block;
    margin-bottom: 36px;
}

.social_media_links li {
    margin-bottom: .7em;
    position: relative;
    line-height: 1.3em;
}

@media(max-width: 1000px) {
    .social_media_links li {
        font-size: 3.7vw;
    }
}

.social_media_links li a {
    box-shadow: 5px 10px #EE2A7B;
    transition: background .3s ease-in-out;
}

.social_media_links li a:hover {
    background: #EE2A7B;
}



.copyright {
    font-size: 8px;
    /* color: #363636; */
}

.nav {
    font-size: 16px;

}


.prev {
    left: -4em;
    position: absolute;
    top: 90vh;
}


.next {
    right: -4em;
    position: absolute;
    top: 90vh;
    z-index: 2;
}


.about {
    width: 70%;
    max-width: 500px;
    padding: 2em 0 3em 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.about span a{
    font-size: 16px;
    padding-bottom: 2px;
    box-shadow: 2px 5px #EE2A7B;
    transition: background .3s ease-in-out;
}
.about span a:hover{
    background: #EE2A7B;
}

.about_logo {
    width: 100%;
    height: auto;

}

dl {
    margin-top: 36px;
    font-size: .4em;
}

dt {
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: .3em;
}

dd {}

a {
    text-decoration: none;
    /* color: #252525; */
    color: white;
}

.next::before {
    position: absolute;
    content: '';
    border-left: 3px solid #EE2A7B;
    left: -10px;
    height: 18px;
    bottom: 0;
    z-index: -1;
    animation: slide_back_next .5s ease-in-out forwards;
}

.next:hover::before {
    animation: slide_next .5s ease-in-out forwards;

}

.prev::after {
    content: '';
    border-left: 3px solid #EE2A7B;
    position: absolute;
    right: -10px;
    height: 18px;
    bottom: 0;
    z-index: -1;
    animation: slide_back_prev .5s ease-in-out forwards;
}

.prev:hover::after {
    animation: slide_prev .5s ease-in-out forwards;

}

@keyframes slide_prev {
    0% {
        right: -10px;
    }

    100% {
        right: 50px;
    }
}

@keyframes slide_back_prev {
    0% {
        right: 50px;
    }

    100% {
        right: -10px;
    }
}

@keyframes slide_next {
    0% {
        left: -10px;
    }

    100% {
        left: 50px;
    }
}

@keyframes slide_back_next {
    0% {
        left: 50px;
    }

    100% {
        left: -10px;
    }
}


@media(max-width: 600px) {
    .page_wrapper {
        flex-direction: column;
    }

    .section_main {
        width: 100%;
    }

    .section_left {
        width: 100%;
        position: relative;
        height: auto;
    }


    .social_media_links li {
        font-size: 15px;
        line-height: 1.6em;
    }

    .section_right {
        position: relative;
        height: auto;
        width: 100%;
        min-height: 50px;
    }

    .nav {}

    .prev {
        left: 20px;
        bottom: -24px;
    }

    .next {
        bottom: -24px;
        right: 20px;
        left: auto;
    }

    .about{
        width: 90%;
    }
}